body {
    font-family: monospace;
    background-color: #333;
    color: #EEE;
}
a {
    color: #91ff00;
    text-decoration: none;
    font-family: monospace;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
}
.index {
    margin-top: 20px;
}

.tag {
  font-size: 0.85em;
  padding: 2px 6px;
  border-radius: 4px;
  margin-left: 8px;
}