body {
    font-family: monospace;
    background-color: #333;
    color: #EEE;
    padding: 0 25% 10% 25%;
}
a {
    color: #91ff00;
    text-decoration: none;
    font-family: monospace;
}
ul {
    list-style-type: none;
}
li {
    margin-bottom: 10px;
    /* position: relative;
    padding-left: 18px; */
}
/* li::before {
    content: "·";
    position: absolute;
    left: 0;
    top: 0.1em;
    color: #EEE;
    font-size: 1.2em;
    line-height: 1;
} */
.index {
    margin-top: 20px;
}

.tag {
  font-size: 0.85em;
  padding: 2px 6px;
  border-radius: 4px;
  margin-left: 8px;
}

@media (max-width: 600px) {
    body {
        padding: 0 6% 6% 6%;
    }
    ul {
        padding-left: 0;
    }
}